* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container {
    margin-top: 20px;
    margin: auto;
    width: 50%;
    border: 1px solid #918c8c;
    border-radius: 10px;
    padding: 20px;
}

.container2 {
    margin: 20px;
    width: 95%;
    border: 1px solid #918c8c;
    border-radius: 10px;
}

.row {
    margin-top: 30px;
}

.assinatura {
    border-top: 1px solid #000;
    text-align: center;
    margin-top: 30px;
}

.print {
    display: none;
}

@media print {
    .print {
        display: block;
    }

    .container {
        display: none;
    }
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 70%;
    background-color: #29a029;
    color: white;
    padding: 14px 20px;
    margin: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.gridRadios {
    width: 20%;
    float: left;
    padding: 15px;
}

.coluna2 {
    width: 40%;
    float: left;
    padding: 15px;
}

.coluna1 {
    width: 40%;
    float: left;
    padding: 15px;
}

.coluna3 {
    width: 40%;
    float: left;
    padding: 15px;
}

.coluna4 {
    width: 100%;
    float: left;
    padding: 15px;
}


input.contratante {
    width: 400px;
    float: left;

}
input.cpf {
    width:350px;
}

input.referente {
    width:100%;
}

input.cidade {
    width:100%;
}

input.data {
    width:100%;
}
